@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 43% 86%; /* color dun (#E3C9AE) */
    --foreground: 0 0% 10%; /* casi negro, buena legibilidad */

    --card: 36 43% 86%; /* dun */
    --card-foreground: 0 0% 10%;

    --popover: 36 43% 86%;
    --popover-foreground: 0 0% 10%;

    --primary: 345 73% 35%; /* claret (#85123B) */
    --primary-foreground: 0 0% 98%;

    --secondary: 21 64% 44%; /* burntOrange (#BC5C21) */
    --secondary-foreground: 0 0% 98%;

    --muted: 24 33% 68%; /* lion (#CD9B62) */
    --muted-foreground: 0 0% 25%;

    --accent: 14 38% 56%; /* brown sugar (#B97354) */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 50%; /* rojo estándar */
    --destructive-foreground: 0 0% 98%;

    --border: 12 20% 70%; /* tono marrón suave */
    --input: 12 20% 70%;
    --ring: 345 73% 35%;

    --radius: 0.5rem;

    --chart-1: 345 73% 35%;  /* claret */
    --chart-2: 14 38% 56%;   /* brown sugar */
    --chart-3: 21 64% 44%;   /* burnt orange */
    --chart-4: 24 51% 65%;   /* lion */
    --chart-5: 345 26% 35%;  /* wine (#783544) */
  }

  .dark {
    --background: 345 90% 4%; /* casi negro con tinte claret */
    --foreground: 0 0% 98%;

    --card: 345 90% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 345 90% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 345 73% 35%; /* claret */
    --primary-foreground: 0 0% 98%;

    --secondary: 14 38% 56%; /* brown sugar */
    --secondary-foreground: 0 0% 98%;

    --muted: 21 64% 44%; /* burnt orange */
    --muted-foreground: 0 0% 98%;

    --accent: 24 51% 65%; /* lion */
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 345 73% 35%;

    --chart-1: 345 73% 35%;
    --chart-2: 14 38% 56%;
    --chart-3: 21 64% 44%;
    --chart-4: 24 51% 65%;
    --chart-5: 345 26% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
